UUSV UI Requirements
Andreas Widy
Version 1.1
3/11/2020
1. Brief
This is the document that summarizes requirements for the UI for the UUSV robot. The UI features are based on EIVA NAVI suite mobula.
2. Objectives  
The UI is in a web browser and has the functionality to be able to control the UUSV seamlessly and show the information needed such as depth, heading, position, and batteries. The UI later on also needs to support accessories and show the additional information provided by the accessories.


3. Basic Features
3.1 Image Stream
This will cover about 70% of the screen and should provide an unobstructed stream from the UUSV main camera. At the bottom right, there should be information about the stream such as ip, resolution, frame rate, and bitrate. There will be buttons for taking pictures and videos to be saved in the robot and device.
Summarized Feature :
* HD Stream: Stream HD
* Stream Info: Can change the URL and show frame rate
* Picture Button: press to take pictures with editable picture name. This button also accessible from the controller
* Record Button: press to start/stop video with editable picture name. Show the indicator when it is recording and the recorded time. This button also accessible from the controller.
* Mission time: started when the UI is opened, to indicate how much time has passed
* Metadata : Have an option to include the data measured along with the recorded video
3.2 Navigation Information
The navigation information will all be laid out on the left side of the screen.  The Robot orientation will be shown in Roll, Pitch Yaw notation, with all 3 numbers will be shown on the screen. Yaw will have another screen to show the robot heading relative to the north.
Another indicator is the depth, which will have 1 square to show the current depth and the previous depth for history.
Summarized features :
* Roll and Pitch: Show 2 number for the current roll and pitch, display the robot orientation only in roll and pitch
* Yaw Heading: Overlay the heading data on the bottom of the video with the N,E,S,W of the heading
* Depth Indicator highlighting the current depth and showing depth history from the beginning
* Controller Input : shows when the controller is connected and accepting input , can only show the joystick movement


3.3 Robot Status
This section will be located on the bottom left corner, showing all the information for the robot status. This will cover the necessary status to show the state of the robot such as connection, temperature, motor status, and some error that might happen in the robot. This indicator also will show battery information of the robot and will show estimated remaining time.
Summarized Features:
* Robot Battery: Shows the robot battery 0-100
* Connection Status: Check whether the UI can see the connection to the robot
* Motor Status: Status when the motor is on or off
* Temperature: Current temperature
* Magnetometer status: Show whether the magnetometer is calibrated and whether nearby have some magnetic interference




4. Viewing App
There will be another app from other computers or other tabs that can add an additional screen to support additional stream, sonar data, GPS location, and other accessories data.
4.1 Additional Stream
If there is an additional camera, it should be able to add a custom URL for additional streams in another tab or in another screen.
4.2 Position on the Map
The GPS data will need to be seen occasionally when it is at the start of the dive, end of dive, and middle of the dive whenever it surfaces. The GPS location enables the user to estimate the robot location without actually seeing the robot.
